{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list bootstrapped_goodies_tags %}
{% load admin_urls %}

{% block object-tools-items %}
{% endblock %}

{% block content %}

<ul class="nav nav-pills" style="margin-bottom: 10px;">
    {% if has_add_permission %}
    <li class="panel panel-info">
        <a href="{% url 'admin:cashflow_income_add' %}?ct_id=15{% if is_popup %}7_popup=1{% endif %}">
            <span class="badge pull-right"></span>
            Add Income
        </a>
    </li>
    <li class="panel panel-info">
        <a href="{% url 'admin:cashflow_payment_add' %}?ct_id=14{% if is_popup %}&_popup=1{% endif %}">
             <span class="badge pull-right"></span>
            Add Payment
        </a>
    </li>
    <li class="panel panel-info">
        <a href="{% url 'admin:cashflow_transferin_add' %}?ct_id=16{% if is_popup %}&_popup=1{% endif %}">
             <span class="badge pull-right"></span>
            Make a transfer
        </a>
    </li>
    {% endif %}
</ul>

{{ block.super }}
{% endblock %}